body {
	font-family: 'Source Sans Pro', sans-serif;
	color: floralwhite;
	text-align: center;
}
h1 {
	font-size: 64px;
	left: 0;
	line-height: 200px;
	margin: auto;
	margin-top: -100px;
	position: absolute;
	top: 43%;
	width: 100%;
}
h2 {
	font-size: 32px;
	left: 0;
	line-height: 200px;
	margin: auto;
	margin-top: -100px;
	position: absolute;
	top: 50%;
	width: 100%;
}
h3 {
	font-size: 20px;
	left: 0;
	line-height: 200px;
	margin: auto;
	margin-top: -100px;
	position: absolute;
	top: 55%;
	width: 100%;
}
video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(media/borealis.png) no-repeat;
	background-size: cover;
	filter: blur(20px);
}

@media screen and (max-device-width: 800px) {
html {
	background: url(media/borealis.png) #000 no-repeat center center fixed;
}
#bgvid {
	display: none;
}
}
